@import url('../../index.css');

.navbar {
  display: flex;
  gap: 20px;
  padding: 20px;
  background: var(--first-panel-color);
  border-radius: 16px;
}

.navbar a {
  text-decoration: none;
  font-weight: bold;
  color:var(--nav-disable);
}

.navbar a.active {
  color:var(--nav-active);
}
