.about{
    flex: 1;
    height: 90%;
    background-color:var(--first-panel-color);
    border-radius: 12px;
    text-align: justify;
    padding: 10%;
    color: var(--text);
}
.about-author{
    background: var(--second-panel-color);
    padding: 10px;
    border-radius: 12px;
    margin: 50px;
}