.search-btn,.error-btn,.pad-btn{
     padding: 0 28px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}
.search-btn,.error-btn{
     width: 20%;
}
.search-input,.search-btn,.error-btn,.pad-btn{
  height: 52px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  box-sizing: border-box;
  margin: 10px;
}